body {
  background-color: palevioletred;
  height: 100%;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  width: 600px;
  max-width: 90vw;
  margin: 2rem auto;
}

h1 {
  font-size: 3rem;
  text-shadow: 0 5px 10px lightpink;
}

.score-board {
  width: 250px;
  background-color: lightpink;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: inset -1px 2px 3px 3px rgba(0, 0, 0, 0.4);
}

p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem;
}

.score {
  font-size: 2rem;
}

.grid {
  height: 560px;
  width: 560px;
  border: 5px solid lightpink;
  border-radius: 20px;
  box-shadow: inset -1px 2px 3px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.35);
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 70px;
  width: 70px;
}

[style="background-color: yellow;"] {
  border-radius: 10%;
  box-sizing: border-box;
  border: 5px solid rgb(61, 61, 0);
}

[style="background-color: red;"] {
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid rgb(49, 0, 0);
}

[style="background-color: green;"] {
  border-radius: 25px;
  box-sizing: border-box;
  border: 5px solid rgb(0, 26, 0);
}

[style="background-color: blue;"] {
  border-radius: 40% 60%;
  box-sizing: border-box;
  border: 5px solid rgb(0, 0, 65);
}

[style="background-color: orange;"] {
  border-radius: 10px 40px 10px 40px;
  box-sizing: border-box;
  border: 5px solid rgb(55, 36, 0);
}

[style="background-color: purple;"] {
  border-radius: 60px 20px 60px 20px;
  box-sizing: border-box;
  border: 5px solid rgb(24, 0, 24);
}
